<%@page_title = "admin#show"%>
<h1><%=@page_title %></h1>
<table class="attr">
  <tr>
    <th width = "150">名前</th>
    <td><%= @admin.name %>  <%=link_to "ログアウト",:admin_session,method: :delete,data:{confirm: "ログアウトしますか?"}%></td>
  </tr>
  <tr>
    <th>誕生日</th>
    <td><%= @admin.birthday&.strftime("%Y年%m月%d日") %></td>
    <%# 『&.(ぼっち演算子)』で左側がnilならnilを返しそうでなければ右側を返すという例外防止になる。 %>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @admin.tel %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @admin.email %></td>
  </tr>
</table>
