<%@page_title = "movies#index"%>
<h1><%=@page_title %></h1>
<%= form_tag :search_movies, method: :get do %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "検索" %>
<% end %>
<%if @movies.present?%>
<%@movies.each do |t|%>
  <table class="list">
    <tr>
      <th>作品名</th>
      <td><%=link_to t.title,t%></td>
    </tr>
    <tr>
      <th>公開日</th>
      <td><%= t.released_at%></td>
    </tr>
    <tr>
      <th>公開終了日</th>
      <td><%= t.expired_at%></td>
    </tr>
    <tr>
      <th>作品時間</th>
      <td><%= t.screening_time%></td>
    </tr>
  </table>
<%end%>
<%else%>
  <p>現在公開中の作品はありません</p>
<%end%>