<%@page_title = "movies#show"%>
<h1><%=@page_title %></h1>

<table class="list">
    <thead>
        <tr>
            <th>タイトル</th>
            <th>概要</th>
            <th>公開日</th>
            <th>上映時間</th>
            <th>配給</th>
            <th>監督</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%=@movie.title %></td>
            <td><%=@movie.explanation %></td>
            <td><%=@movie.released_at %></td>
            <td><%=@movie.screening_time %></td>
            <td><%=@movie.distribution %></td>
            <td><%=@movie.director %></td>
        </tr>
    </tbody>
</table>
<%if @schedule.present?%>
<table class="list">
  <tbody>
  <%
    month = Time.current.month
    day = Time.current.day
  %>
  <tr>
    <td><%= button_to "#{month}/#{day}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params: {theater_id: params[:theater_id], month: month,day: day,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 1}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 1,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 2}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 2,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 3}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 3,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 4}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 4,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 5}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 5,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 6}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 6,movie_id:@movie.id}} %></td>
  </tr> 
  </tbody>
</table>
<table class="list">
    <thead>
        <tr>
            <th>上映日</th>
            <th>スクリーン番号</th>
            <th>開始時間</th>
            <th>終了時間</th>
            <th>上映時間</th>
        </tr>
    </thead>
    <tbody>
        <%@schedule.each do |s|%>
            <tr>
                <td><%=link_to s.screening_date,reservation_path(schedule_id: s.id)%></td>
                <td><%=s.screen_no%></td>
                <td><%= "#{s.starttime.hour}:00" %></td>
                <% endmin = Movie.find(s.movie_id).screening_time.to_i%60%>
                <%if endmin < 10%>
                <td><%= "#{s.starttime.hour.to_i+(Movie.find(s.movie_id).screening_time.to_i/60)}:0#{endmin}"%></td>
                <%else%>
                <td><%= "#{s.starttime.hour.to_i+(Movie.find(s.movie_id).screening_time.to_i/60)}:#{endmin}"%></td>
                <%end%>
                <td><%=Movie.find_by(id:s.movie_id).screening_time%></td>
                <%= hidden_field_tag :schedule_id, :value=>s.id %>
            </tr>
        <%end%>
    </tbody>
</table>
<%elsif @theater.present?%>
    <h2>上映している映画館一覧</h2>
    <table class="list">
    <thead>
        <tr>
            <th>店舗名</th>
        </tr>
    </thead>
    <tbody>
        <%@theaters = []%>
        <%@theater.each_with_index do |t,i| %>
            <%@theaters[i] = Theater.find_by(id: t.theater_id).store_name%>
        <%end%>
        <%@new_theater = @theaters.uniq %>
        <%@new_theater.each do |t|%>
            <tr>
                <td><%=link_to t,[Theater.find_by(store_name:t),@movie]%></td>
            </tr>
        <%end%>
    </tbody>
    </table>
    <div style="text-align:right"><%= link_to "戻る",:movies %></div>
<%else%>
<table class="list">
  <tbody>
  <%
    month = Time.current.month
    day = Time.current.day
  %>
  <tr>
    <td><%= button_to "#{month}/#{day}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params: {theater_id: params[:theater_id], month: month,day: day,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 1}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 1,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 2}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 2,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 3}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 3,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 4}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 4,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 5}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 5,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 6}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 6,movie_id:@movie.id}} %></td>
  </tr> 
  </tbody>
</table>
<p>該当日時に上映はありません</p>
<%end%>
