<%@page_title = "上映選択" %>
<%@page_title = "作品詳細" unless @schedule.present?||@schedule_will.present?%>
<h1><%=@page_title %></h1>

<table class="attr">
    <thead>
        <tr>
            <th>タイトル</th>
            <th>概要</th>
            <th>公開日</th>
            <th>上映時間</th>
            <th>配給</th>
            <th>監督</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%=@movie.title %></td>
            <td><%=@movie.explanation %></td>
            <td><%=@movie.released_at %></td>
            <td><%=@movie.screening_time %></td>
            <td><%=@movie.distribution %></td>
            <td><%=@movie.director %></td>
        </tr>
    </tbody>
</table>
<%if @schedule.present?%><%# 順調に上映がしっかりある時%>
<table class="list">
  <tbody>
  <%
    month = Time.current.month
    day = Time.current.day
  %>
  <tr>
    <td><%= button_to "#{month}/#{day}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params: {theater_id: params[:theater_id], month: month,day: day,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 1}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 1,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 2}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 2,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 3}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 3,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 4}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 4,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 5}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 5,movie_id:@movie.id}} %></td>
    <td><%= button_to "#{month}/#{day.to_i + 6}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 6,movie_id:@movie.id}} %></td>
  </tr> 
  </tbody>
</table>
<table class="list">
    <thead>
        <tr>
            <th>上映日</th>
            <th>スクリーン番号</th>
            <th>開始時間</th>
            <th>終了時間</th>
            <th>上映時間</th>
        </tr>
    </thead>
    <tbody>
        <%@schedule.each do |s|%>
        <% a = Date.parse("#{Time.current.year}-0#{Time.current.month}-#{Time.current.day}")%>
            <%if s.screening_date >= a%>
            <tr>
                <td>
                    <%= form_tag(reservation_path, method: :post, class: "movie_schedule") do %>
                    <%= hidden_field_tag "schedule_id", s.id %>
                    <%= label_tag("schedule_#{s.id}") do %>
                    <% end %>
                    <%p "時間#{Time.current.hour}"%>
                    <%p "時間#{s.endtime.hour}"%>
                    <% p "ををををを#{Time.zone.parse("#{Time.current.hour}:00").hour}"%>
                        <%if s.screening_date == a && s.starttime.hour <= Time.zone.parse("#{Time.current.hour}:00").hour%>
                        <%# <%if s.screening_date == a && s.endtime.hour < Time.zone.parse("12:00").hour%>
                            <%= submit_tag("#{s.screening_date.month}/#{s.screening_date.day}",disabled: true,id: "schedule_#{s.id}") %>
                        <%else%>
                            <%= submit_tag("#{s.screening_date.month}/#{s.screening_date.day}", id: "schedule_#{s.id}") %>
                        <% end %>
                    <% end %>
                </td>
                <td><%=s.screen_no%></td>
                <td><%= "#{s.starttime.hour}:00" %></td>
                <% endmin = Movie.find(s.movie_id).screening_time.to_i%60%>
                <%if endmin < 10%>
                <td><%= "#{s.starttime.hour.to_i+(Movie.find(s.movie_id).screening_time.to_i/60)}:0#{endmin}"%></td>
                <%else%>
                <td><%= "#{s.starttime.hour.to_i+(Movie.find(s.movie_id).screening_time.to_i/60)}:#{endmin}"%></td>
                <%end%>
                <td><%=Movie.find_by(id:s.movie_id).screening_time%></td>
                <%= hidden_field_tag :schedule_id, :value=>s.id %>
            </tr>
            <%end%>
        <%end%>
    </tbody>
</table>
<div style="text-align:right"><%= link_to "#{@schedule[0].theater.store_name}での上映中作品一覧を見る",theater_path(@schedule[0].theater_id)%></div>
<div style="text-align:right"><%= link_to "作品詳細を見る",movie_path(@movie) %></div>
<%elsif @schedule_will.present?%><%# 上映はあるが当日にない場合%>
    <table class="list">
        <tbody>
            <%
            month = Time.current.month
            day = Time.current.day
            %>
            <tr>
                <td><%= button_to "#{month}/#{day}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params: {theater_id: params[:theater_id], month: month,day: day,movie_id:@movie.id}} %></td>
                <td><%= button_to "#{month}/#{day.to_i + 1}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 1,movie_id:@movie.id}} %></td>
                <td><%= button_to "#{month}/#{day.to_i + 2}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 2,movie_id:@movie.id}} %></td>
                <td><%= button_to "#{month}/#{day.to_i + 3}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 3,movie_id:@movie.id}} %></td>
                <td><%= button_to "#{month}/#{day.to_i + 4}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 4,movie_id:@movie.id}} %></td>
                <td><%= button_to "#{month}/#{day.to_i + 5}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 5,movie_id:@movie.id}} %></td>
                <td><%= button_to "#{month}/#{day.to_i + 6}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 6,movie_id:@movie.id}} %></td>
            </tr> 
        </tbody>
    </table>
    <p><%="本日#{Time.current.month}/#{Time.current.day}の上映はありません"%></p>
    <div style="text-align:right"><%= link_to "戻る",movie_path(@movie.id) %></div>
<%elsif @movie.released_at <= Time.current.since(6.days) && Time.current <= @movie.expired_at && @schedule_day.present?%><%# 上映詳細の際にスケジュールがあるものに関して%>
    <h2>上映している映画館一覧</h2>
    <table class="list">
    <thead>
        <tr>
            <th>店舗名</th>
        </tr>
    </thead>
    <tbody>
        <%@theaters = []%>
        <%@schedule_day.each_with_index do |t,i| %>
            <%@theaters[i] = Theater.find_by(id: t.theater_id).store_name%>
        <%end%>
        <%@new_theater = @theaters.uniq %>
        <%@new_theater.each do |t|%>
            <tr>
                <td><%=link_to "#{t}で#{@movie.title}を見る",[Theater.find_by(store_name:t),@movie]%></td>
                <td><div style="text-align:right"><%= link_to "#{t}での上映中作品一覧を見る",theater_path(Theater.find_by(store_name:t).id)%></div></td>
            </tr>
        <%end%>
    </tbody>
    </table>
    <div style="text-align:right"><%= link_to "映画作品一覧を見る",:movies %></div>
<%elsif @movie.released_at <= Time.current.since(6.days) && Time.current <= @movie.expired_at && !@schedule_day.present? || !(@movie.released_at <= Time.current.since(6.days) && Time.current <= @movie.expired_at)%><%# 順調に上映がしっかりある時%>
    <h2>現在上映されている劇場がございません</h2>
    <h4><%="#{@movie.released_at}から上映開始です。お楽しみに！" if @movie.released_at > Time.current.since(6.days)%></h4>
    <div style="text-align:right"><%= link_to "戻る",:movies %></div>
<%else %>
    <table class="list">
        <tbody>
            <%
            month = Time.current.month
            day = Time.current.day
            %>
            <tr>
                <td><%= button_to "#{month}/#{day}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params: {theater_id: params[:theater_id], month: month,day: day,movie_id:@movie.id}} %></td>
                <td><%= button_to "#{month}/#{day.to_i + 1}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 1,movie_id:@movie.id}} %></td>
                <td><%= button_to "#{month}/#{day.to_i + 2}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 2,movie_id:@movie.id}} %></td>
                <td><%= button_to "#{month}/#{day.to_i + 3}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 3,movie_id:@movie.id}} %></td>
                <td><%= button_to "#{month}/#{day.to_i + 4}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 4,movie_id:@movie.id}} %></td>
                <td><%= button_to "#{month}/#{day.to_i + 5}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 5,movie_id:@movie.id}} %></td>
                <td><%= button_to "#{month}/#{day.to_i + 6}", {controller: 'movies', action: 'date_schedule'}, {method: :get, params:{theater_id: params[:theater_id], month: month,day: day.to_i + 6,movie_id:@movie.id}} %></td>
            </tr> 
        </tbody>
    </table>
<%end%>
