<% @page_title = "予約一覧" %>
<h1><%= @page_title %></h1>

<%= form_tag :search_admin_reservations, method: :get, class: "search" do %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "検索" %><%=button_to "削除",{controller: 'reservations',action: 'destroys'},{method: :get}%>
<% end %>
<% if @reservations.present? %>
  <table class="list">
    <thead>
      <tr>
        <th><%=button_to "ID",{controller: 'reservations',action: 'sort'},{method: :get, params: {sort: "id"}}%></th>
        <th>購入者名</th>
        <th>上映作品</th>
        <th><%=button_to "支払い情報",{controller: 'reservations',action: 'sort'},{method: :get, params: {sort: "payment"}}%></th>
        <th><%=button_to "枚数",{controller: 'reservations',action: 'sort'},{method: :get, params: {sort: "chiket_sheets"}}%></th>
        <th><%=button_to "更新時間",{controller: 'reservations',action: 'sort'},{method: :get, params: {sort: "confirm_time"}}%></th>
        <th><%=button_to "予約状況",{controller: 'reservations',action: 'sort'},{method: :get, params: {sort: "status"}}%></th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |r| %>
        <tr>
          <td><%= link_to r.id ,[:admin, r] %></td>
          <td><%= Member.find(r.member_id).name %></td>
          <td><%= Movie.find(Schedule.find(r.schedule_id).movie_id).title %></td>
          <td><%= r.payment %></td>
          <td><%= r.chiket_sheets %></td>
          <td><%= r.confirm_time %></td>
          <td><%= r.status == 1 ? "確定予約" : "仮予約"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @reservations if current_page?(:admin_reservations)%>
<% else %>
  <p>予約がありません</p>
<% end %>
