<% @page_title = "予約詳細" %>
<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "予約一覧に戻る", :admin_reservations %></div>

<%@reservationdetails.each do |r|%>
<table class="list">
  <tr>
    <th width="100">名前</th>
    <td><%= Member.find(@reservation.member_id).name %></td>
  </tr>
  <tr>
    <th>作品名</th>
    <td><%= Movie.find(Schedule.find(@reservation.schedule_id).movie_id).title %></td>
  </tr>
  <tr>
    <th>上映会場</th>
    <td><%= Theater.find(Schedule.find(@reservation.schedule_id).theater_id).store_name %></td>
  </tr>
  <tr>
    <th>上映日時</th>
    <td><%= Schedule.find(@reservation.schedule_id).screening_date %></td>
  </tr>
  <tr>
    <th>上映スクリーン</th>
    <td><%= Schedule.find(@reservation.schedule_id).screen_no %></td>
  </tr>
  <tr>
    <th>区分</th>
    <td><%= Ticket.find(r.ticket_id).t_type %></td>
  </tr>
  <tr>
    <th>金額</th>
    <td><%= Ticket.find(r.ticket_id).total %></td>
  </tr>
  <tr>
    <th>座席</th>
    <td><%= r.seat %></td>
  </tr>
</table>
<%end%>