<%if current_admin%>
  <h2 class="cinema">CINEMA</h2>
  <nav class="menubar">
    <ul>
      <%= menu_link_to "マイページ", :admin %>
      <%= menu_link_to "上映管理", :admin_schedules %>
      <%= menu_link_to "作品管理", :admin_movies %>
      <%= menu_link_to "予約管理", :admin_reservations %>
    </ul>
  </nav>
<%elsif not current_page?(:admin_login_admin)||current_page?(:new_admin_account) %>
  <h2 class="cinema">CINEMA</h2>
  <nav class="menubar">
    <ul>
      <%= menu_link_to "TOP", :root %>
      <%= menu_link_to "劇場一覧", :theaters %>
      <%= menu_link_to "作品一覧", :movies %>
    </ul>
  </nav>
<%end%>
