<table class="list">
  <p><%=@error if @error.present?%></p>
  <tr>
    <th><%= form.label :screen_no%></th>
    <td><%= form.select :screen_no,[*1..10]%></td>
  </tr>
  <tr>
    <th><%= form.label "映画館"%></th>
    <td><%= form.select :theater_id,{"生田"=>1,"神田"=>2,"横浜"=>3}%></td>
  </tr>
  <tr>
    <th><%= form.label "作品"%></th>
    <%
    movies = {}
    @movies.each_with_index do |m,i| 
      movies[m.title] = i + 1
    end
    %>
    <td><%= form.select :movie_id,movies%></td>
  </tr>
  <tr>
    <th><%= form.label :screening_date%></th>
    <td><%= form.date_select :screening_date,
      start_year:Time.current.year,use_month_numbers: true%></td>
  </tr>
  <tr>
    <th><%= form.label :starttime%></th>
    <%starttimes = %w(9:00 12:00 15:00 18:00 21:00) %>
    <td><%= form.select :starttime,starttimes%></td>
  </tr>
</table>
