<% @page_title = "作品情報の編集" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "作品の一覧に戻る", :admin_movies %></div>

<%= form_for [:admin, @movie] do |form| %>
  <%= render "shared/movie_form", form: form %>
  <div><%= form.submit %></div>
<% end %>
