<%@page_title = "reservaiton#step3"%>
<h1><%=@page_title %></h1>

<table class="attr">
  <tr>
    <th>氏名</th>
    <td><%= @member.name%></td>
  </tr>
  <tr>
    <th>作品名</th>
    <td><%= Movie.find(@schedule.movie_id).title%></td>
  </tr>
  <tr>
    <th>上映日時</th>
    <td><%= @schedule.screening_date%></td>
  </tr>
  <tr>
    <th>上映時間</th>
    <% endmin = Movie.find(@schedule.movie_id).screening_time.to_i%60%>
    <%if endmin < 10%>
    <td><%= "#{@schedule.starttime.hour}:00~#{@schedule.starttime.hour.to_i+(Movie.find(@schedule.movie_id).screening_time.to_i/60)}:0#{endmin}"%></td>
    <%else%>
    <td><%= "#{@schedule.starttime.hour}:00~#{@schedule.starttime.hour.to_i+(Movie.find(@schedule.movie_id).screening_time.to_i/60)}:#{endmin}"%></td>
    <%end%>
  </tr>
  <tr>
    <th>購入枚数</th>
    <td><%=@reservation.chiket_sheets%>枚</td>
  </tr>
  <tr>
    <th>購入金額</th>
    <td><%=@reservation.total_sheets%>円</td>
  </tr>
  <tr>
    <th>お支払い情報</th>
    <td><%=Member.find(@reservation.member_id).payment%></td>
  </tr>
</table>
<%= link_to reservation_path(@reservation),method: :patch do %>
<button class="btn btn-secondary btn-lg" >注文を確定する</button>
<% end %>
