<%@page_title = "reservaiton#step3"%>
<h1><%=@page_title %></h1>
<table class="list">
    <h3 class="listtitle">作品情報</h3>
    <tr>
        <th>タイトル</th>
        <td><%=@movie.title %></td>
    </tr>
    <tr>
        <th>概要</th>
        <td><%=@movie.explanation %></td>
    </tr>
    <tr>
        <th>公開日</th>
        <td><%=@movie.released_at %></td>
    </tr>
    <tr>
        <th>上映時間</th>
        <td><%=@movie.screening_time %></td>
    </tr>
    <tr>
        <th>配給</th>
        <td><%=@movie.distribution %></td>
    </tr>
    <tr>
        <th>監督</th>
        <td><%=@movie.director %></td>
    </tr>
</table>
<table class="list">
  <h3 class="listtitle">予約情報</h3>
  <tr>
    <th>上映日時</th>
    <td><%= @schedule.screening_date%></td>
  </tr>
  <tr>
    <th>上映スクリーン</th>
    <td><%= @schedule.screen_no%></td>
  </tr>
  <tr>
    <th>上映時間</th>
    <% endmin = Movie.find(@schedule.movie_id).screening_time.to_i%60%>
    <%if endmin < 10%>
    <td><%= "#{@schedule.starttime.hour}:00~#{@schedule.starttime.hour.to_i+(Movie.find(@schedule.movie_id).screening_time.to_i/60)}:0#{endmin}"%></td>
    <%else%>
    <td><%= "#{@schedule.starttime.hour}:00~#{@schedule.starttime.hour.to_i+(Movie.find(@schedule.movie_id).screening_time.to_i/60)}:#{endmin}"%></td>
    <%end%>
  </tr>
  <tr>
    <th>座席</th>
    <td>
    <% @reservation.reservationdetails.each do |reservation|%>
    <%=reservation.seat%>
    <%end%>
    </td>
  </tr>
</table>
<table class="list">
  <h3 class="listtitle">決済情報</h3>
  <tr>
    <th>氏名</th>
    <td><%= @member.name%></td>
  </tr>
  <tr>
    <th>購入枚数</th>
    <td><%=@reservation.chiket_sheets%>枚</td>
  </tr>
  <tr>
    <th>購入金額</th>
    <td><%=@reservation.total_sheets%>円</td>
  </tr>
  <tr>
    <th>クレジット番号</th>
    <td><%= "****-****-#{@reservation.member.payment.to_i%10000}"%></td>
  </tr>
</table>
<%= link_to reservation_path(@reservation),method: :patch do %>
<button class="btn btn-secondary btn-lg" >注文を確定する</button>
<% end %>
