<%@page_title = "reservation#step1"%>
<h1><%=@page_title %></h1>
<p>Step2. 座席を<%= @quantity.values.map(&:to_i).sum %>つ選択してください</p>

<%
  placement = Hash.new  # 配置データの取得
  seat_total = 0  # データの総座席数をカウント
  
  Seat.where(seat_group: @reservation.schedule.screen_no).each do |rel|  # モデルのコンパイル
    unless placement[rel.line] then placement[rel.line] = [] end
    placement[rel.line].push(rel.start_line); placement[rel.line].push(rel.last_line)
    seat_total += rel.num
  end
  reserved = Array.new  # 予約済みの座席を取得
  Reservationdetail.where(reservation_id: Reservation.where(schedule_id: @reservation.schedule_id).ids).each do |val|
    if val then reserved.push(val.seat) end
  end
%>
<script>
  let screen = "<%= @reservation.schedule.screen_no %>"
  let quantity = "<%= @quantity.values.map(&:to_i).sum %>"
  let placement = '<%= placement.to_json.html_safe %>'
  let reserved = '<%= reserved.to_json.html_safe %>'
</script>

<%= form_for @reservation, as: "reservation", url: :step2_reservation, method: :post do |form| %>
  <%= render "seat_form" %>
  <div align=right>（残 <%= seat_total - reserved.length %>/<%= seat_total %> 席）</div>
  <%= form.hidden_field :id %>

  <div class="submit_button"><%= form.submit "次へ進む" %></div>
<% end %>