<% @page_title = "上映一覧" %>
<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "上映の新規登録", :new_admin_schedule %></div>
<%= form_tag :search_admin_schedules, method: :get, class: "search" do %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "検索" %>
<% end %>
<% if @schedules.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>スクリーン番号</th>
        <th>映画館番号</th>
        <th>作品番号</th>
        <th>上映日</th>
        <th>上映開始時間</th>
        <th>上映終了時間</th>
      </tr>
    </thead>
    <tbody>
      <% @schedules.each do |s| %>
        <tr>
          <td><%= s.id %></td>
          <td><%= s.screen_no %></td>
          <td><%= s.theater_id %></td>
          <td><%= s.movie_id %></td>
          <td><%= s.screening_date %></td>
          <td><%= "#{s.starttime.hour}:00" %></td>
          <% endmin = Movie.find(s.movie_id).screening_time.to_i%60%>
          <%if endmin < 10%>
          <td><%= "#{s.starttime.hour.to_i+(Movie.find(s.movie_id).screening_time.to_i/60)}:0#{endmin}"%></td>
          <%else%>
          <td><%= "#{s.starttime.hour.to_i+(Movie.find(s.movie_id).screening_time.to_i/60)}:#{endmin}"%></td>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @schedules%>
<% else %>
  <p>上映がありません</p>
<% end %>
