<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id ="container">
      <header class="grovalNavigation">
        <%= render "shared/menubar"%>
      </header>
      <main>
        <div class = "localNavigation">
          <%if flash.notice%>
            <p class="notice"><%=flash.notice %></p>
          <%end%>
          <%= render "shared/localNav"%>
        </div>
        <div class = "content">
          <%=yield%>
        </div>
      </main>
    </div>
  </body>
</html>
