<table class="list">
  <tr>
    <th width = "150">名前</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>誕生日</th>
    <td><%= @member.birthday&.strftime("%Y年%m月%d日") %></td>
    <%# 『&.(ぼっち演算子)』で左側がnilならnilを返しそうでなければ右側を返すという例外防止になる。 %>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @member.tel %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @member.email %></td>
  </tr>
  <tr>
    <th>支払い情報</th>
    <td><%= @member.payment%></td>
  </tr>
</table>

<h2>現在の予約履歴</h2>
<% a = Date.parse("#{Time.current.year}-0#{Time.current.month}-#{Time.current.day}")%>
<% Reservation.where(member_id:@member.id).each do |r|%>
<table class="list">
  <%if r.schedule.screening_date >= a%>
    <%if r.status == 1%>
      <tr>
        <th>作品名</th>
        <td><%= r.schedule.movie.title%></td>
      </tr>
      <tr>
        <th>上映会場</th>
        <td><%= r.schedule.theater.store_name%></td>
      </tr>
      <tr>
        <th>上映スクリーン</th>
        <td><%= r.schedule.screen_no%></td>
      </tr>
      <tr>
        <th>上映日</th>
        <td><%= r.schedule.screening_date%></td>
      </tr>
    <%end%>
  <%end%>
</table>
<%end%>
<h2>今までの予約履歴</h2>
<% a = Date.parse("#{Time.current.year}-0#{Time.current.month}-#{Time.current.day}")%>
<% Reservation.where(member_id:@member.id).each do |r|%>
<table class="list">
  <%if r.schedule.screening_date < a%>
    <%if r.status == 1%>
      <tr>
        <th>作品名</th>
        <td><%= r.schedule.movie.title%></td>
      </tr>
      <tr>
        <th>上映会場</th>
        <td><%= r.schedule.theater.store_name%></td>
      </tr>
      <tr>
        <th>上映スクリーン</th>
        <td><%= r.schedule.screen_no%></td>
      </tr>
      <tr>
        <th>上映日</th>
        <td><%= r.schedule.screening_date%></td>
      </tr>
    <%end%>
  <%end%>
</table>
<%end%>
