<table class="attr">
  <tr>
    <th width = "150">名前</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>誕生日</th>
    <td><%= @member.birthday&.strftime("%Y年%m月%d日") %></td>
    <%# 『&.(ぼっち演算子)』で左側がnilならnilを返しそうでなければ右側を返すという例外防止になる。 %>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @member.tel %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @member.email %></td>
  </tr>
  <tr>
    <th>支払い情報</th>
    <td><%= @member.payment%></td>
  </tr>
  <tr>
    <th>現在の予約履歴</th>
    <% a = Date.parse("#{Time.current.year}-0#{Time.current.month}-#{Time.current.day}")%>
    <% Reservation.where(member_id:@member.id).each do |r|%>
      <%if Schedule.find(r.schedule_id).screening_date > a%>
        <%if r.status == 1%>
          <td><%= Movie.find(Schedule.find(r.schedule_id).movie_id).title%></td>
        <%end%>
      <%end%>
    <%end%>
  </tr>
  <tr>
    <th>今までの予約履歴</th>
    <% a = Date.parse("#{Time.current.year}-0#{Time.current.month}-#{Time.current.day}")%>
    <% Reservation.where(member_id:@member.id).each do |r|%>
      <%if Schedule.find(r.schedule_id).screening_date < a%>
        <%if r.status == 1%>
          <td><%= Movie.find(Schedule.find(r.schedule_id).movie_id).title%></td>
        <%end%>
      <%end%>
    <%end%>
  </tr>
</table>